name: Port Jira Ocean Integration
on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

jobs:
  ocean-jira:
    runs-on: ubuntu-latest
    steps:
      - name: Run Port Ocean Jira Integration
        uses: port-labs/ocean-sail@v1
        with:
          type: jira
          port_client_id: ${{ secrets.PORT_CLIENT_ID }}
          port_client_secret: ${{ secrets.PORT_CLIENT_SECRET }}
          # We map your secrets to the variables the integration expects
          config: |
            jira_host: ${{ secrets.OCEAN_JIRA_HOST }}
            atlassian_user_email: ${{ secrets.OCEAN_JIRA_USER }}
            atlassian_user_token: ${{ secrets.OCEAN_JIRA_TOKEN }}
